<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.leanbitlab.leantype" />
        <package android:name="com.leanbitlab.leantype.debug" />
        <package android:name="com.leanbitlab.leantype.offline" />
        <package android:name="com.leanbitlab.leantype.offline.debug" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="LeanType Voice Plugin">

        <service
            android:name=".VoiceEngineService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.leanbitlab.leantype.voice.offline.ENGINE" />
            </intent-filter>
        </service>
    </application>
</manifest>
